################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JwtAuthDemo.slnx/config/applicationhost.config
